body {
    background: linear-gradient(45deg, rgb(28, 161, 250), rgb(20, 0, 134) );
    background-attachment: fixed;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: linear-gradient(45deg, white, gray) ;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.411);
}

div {
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}